

	/* ==========================================================================
	   Select Variables
	   ========================================================================== */
		
			@selectColor: @formInputActiveColor;
			@selectRadius: @formControlRadius;

	/* ==========================================================================
	   Select Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Select Styles
	   ========================================================================== */
		
		
		

		
		.select2-container {
			 
			&.select2-drop-above .select2-choice,
			.select2-choice	{ 
				
				height: 20px; padding: 4px 6px; line-height: 20px;
				.gradient( #fafafa , #ececec );
				box-shadow: none;
				border-radius: @selectRadius;		
				
				div { 
				
					width: 30px; 
					background: transparent;
					box-shadow: none;
					border-radius: 0 @selectRadius/2 @selectRadius/2 0;
					border-left: none;
					
					b {
						background: none;
						background-image: url('../@{imgPath}/vendor/bootstrap/2.2.1/glyphicons-halflings.png');
						background-position: -304px -112px;
						opacity: 0.5;
						.transition( opacity 0.4s ease );
					}
					
				}
			
			}
			
			&:hover .select2-choice div b { opacity: 1; }
			
			&.select2-container-active { 			
				outline: 0;
				box-shadow: 0 1px 15px rgba(0,0,0,0.1) inset, 0 1px 4px rgba(0,0,0,0.1) inset, 1px -1px 2px rgba(0,0,0,0.1), 0 0 8px rgba(82,168,236,1), 0 0 1px 1px rgba(0,0,0,.2) inset;  
				.select2-choice { border: 1px solid darken( @inputBorder, 15%) }
			}
			
		}
		
		
		.select2-results .select2-result { border-radius: @selectRadius; }
		.select2-results .select2-highlighted { background-color: @selectColor; color: white; box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1); }
		
		
		.select2-drop { border-radius: 0 0 @selectRadius @selectRadius; }
		.select2-drop-above { border-radius: @selectRadius @selectRadius 0 0 ; }
		
		
		
		
		
		
		
		
