
	
		
	
	

	/* ==========================================================================
	   Includes 
	   ========================================================================== */

		@import "shell/nav.less";
		@import "shell/header.less";
		@import "shell/footer.less";
		@import "shell/body.less";
		@import "shell/account-bar.less";

		
		@import "components/headings.less";
		@import "components/tables.less";
		@import "components/buttons.less";
		@import "components/forms.less";
		@import "components/alerts.less";
		@import "components/tabs.less";
		@import "components/pagination.less";
		@import "components/gallery.less";
		@import "components/badges.less";
		@import "components/spinners.less";
		@import "components/hr.less";
		
		@import "components/widgets/widgets.less"; 
		
		
		
		@import "blocks/dashboard.less";
		@import "blocks/permissions.less";

		
		@import "vendor/animate/animate-custom.less";





	/* ==========================================================================
	   Universal Variables 
	   ========================================================================== */
		
		@fontSize:				0.9em;
		
		@primaryColor: 			#12A1DA;
		@secondaryColor: 		#7A8999;
		@hintColor: 			@secondaryColor;
		
		@fadedColor:			#e4f1fc;	
		
		@blueColor:				@primaryColor;
		@redColor:				#E0362D;
		@orangeColor:			#FF7B00;
		@yellowColor:			#E5CE19;
		@greenColor:			#61C900;
		@purpleColor:			#9B3AC1;
		@pinkColor:				#F062B2;
		@darkColor:				#0B1D26;
		
		
		@sans:	 	'Open Sans',Helvetica,Arial,sans-serif;
		@serif: 	'Droid Serif',Georgia,serif;
		
		
		@imgPath: 	"../../img";
		@iconPath: 	"vendor/fugue/icons";
		
		
		
		
		
	/* ==========================================================================
	   Universal Mixins 
	   ========================================================================== */

		
		
		.gradient( @color1, @color2 ) {
			
			@middle: mix( @color1, @color2 );
			
			background: @middle; /* Old browsers */
			background: -moz-linear-gradient(top,  @color1 0%, @color2 100%); /* FF3.6+ */
			    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2)); /* Chrome,Safari4+ */
	     background: -webkit-linear-gradient(top,  @color1 0%,@color2 100%); /* Chrome10+,Safari5.1+ */
			  background: -o-linear-gradient(top,  @color1 0%,@color2 100%); /* Opera 11.10+ */
			 background: -ms-linear-gradient(top,  @color1 0%,@color2 100%); /* IE10+ */
			     background: linear-gradient(to bottom,  @color1 0%,@color2 100%); /* W3C */

		}
		
		
		.transition(@transition: 1s all ease) {
			-webkit-transition: @transition;  
			-moz-transition:    @transition;
			-ms-transition:     @transition; 
			-o-transition:      @transition;  
			transition:     	@transition;  
		}

		.transform(@transform) {
			-webkit-transform:	@transform;  
			-moz-transform:		@transform;
			-ms-transform:		@transform; 
			-o-transform:		@transform;  
			transform:			@transform;  
		}

		.filter(@filter) {
			-webkit-filter:	@filter;  
			-moz-filter:	@filter;
			-ms-filter:		@filter; 
			-o-filter:		@filter;  
			filter:			@filter;  
		}



	/* ==========================================================================
	   Universal Styles 
	   ========================================================================== */



		.text {
			&.red { color: @redColor; }
			&.blue { color: @blueColor; }
			&.yellow { color: @yellowColor; }
			&.orange { color: @orangeColor; }
			&.purple { color: @purpleColor; }
			&.green { color: @greenColor; }
			&.pink { color: @pinkColor; }
			&.dark { color: @darkColor; }
		}

		.hidden { visibility: hidden!important; display: none!important; }














