

	/* ==========================================================================
	   Navigation Shell Variables
	   ========================================================================== */
		
		@navWidth:							200px;


	/* ==========================================================================
	   Navigation Shell Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Navigation Shell Styles
	   ========================================================================== */

		nav {
		
			width: @navWidth; 
			position: absolute; top: 0; bottom: 0; left: 0;
			
		}
		
		nav ul { margin: 0; }
	
	
		
		
		
@media (max-width: 767px) {


		nav .logo 		{ display: none; }
		

}		
		
		
		
		
		
		
		
		
		
		