



	
	/* ==========================================================================
	   Slider Variables
	   ========================================================================== */
		
		@sliderMargin: 				10px 10px 10px;
		@sliderHeight: 				6px;
		@sliderBackground:			#cfcfcf;
		@sliderBorder:				1px solid darken(@sliderBackground, 5%);
		@sliderRadius:				10px; 
		
		@sliderHoverBorder:			1px solid darken(@sliderBackground, 25%);
		@sliderHoverBackground:		darken(@sliderBackground, 2%);
		
		@sliderHandleColor:			#f1f1f1;
		@sliderBorderColor:			darken( @sliderHandleColor, 20% );
		@sliderHandleHeight:		20px;
		@sliderHandleWidth:			28px;
		@sliderHandleRadius:		@formControlRadius;


	/* ==========================================================================
	   Slider Mixins
	   ========================================================================== */

		.ui-slider-pattern( @color ) { 
			
			background-color: darken(@color,5%);
			background-image: -webkit-repeating-linear-gradient(28deg, transparent, transparent 35px, @color 20px, @color 72px);
			background-image: 	 -moz-repeating-linear-gradient(28deg, transparent, transparent 35px, @color 20px, @color 72px);
			background-image: 	  -ms-repeating-linear-gradient(28deg, transparent, transparent 35px, @color 20px, @color 72px);
			background-image: 	 	  repeating-linear-gradient(28deg, transparent, transparent 35px, @color 20px, @color 72px);
			
		}
		
		.ui-slider-range-color( @color ) {
			
			background: @color;
			
		}

	/* ==========================================================================
	   Slider Styles
	   ========================================================================== */

		
		
		.ui-slider {
			
			
			
			position: relative; text-align: left; 
			margin: @sliderMargin; width: 95%;
			
			box-shadow: none;
			border: @sliderBorder; border-radius: @sliderRadius;
			
			.ui-slider-pattern( @sliderBackground );
			
			
			box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.1) inset, 1px -1px 2px rgba(0, 0, 0, 0.1);
			

			.ui-slider-range { 
			
				position: absolute; z-index: 1; display: block; 
				border: 1px solid rgba(0, 0, 0, 0.3); border-radius: @sliderRadius;
				opacity: 1;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 1px 3px rgba(0, 0, 0, 0.1) inset, 1px -1px 2px rgba(0, 0, 0, 0.1);

				.ui-slider-range-color( @hintColor );
				
			}
			
			
			&.red .ui-slider-range 		{ .ui-slider-range-color( @redColor ) }
			&.blue .ui-slider-range 	{ .ui-slider-range-color( @blueColor ); }
			&.orange .ui-slider-range 	{ .ui-slider-range-color( @orangeColor ); }
			&.yellow .ui-slider-range 	{ .ui-slider-range-color( @yellowColor ); }
			&.purple .ui-slider-range 	{ .ui-slider-range-color( @purpleColor ); }
			&.green .ui-slider-range 	{ .ui-slider-range-color( @greenColor ); }
			&.dark .ui-slider-range 	{ .ui-slider-range-color( @darkColor ); }
			
			
			
			
			
			
			.ui-slider-handle { 
		
				position: absolute; z-index: 2;
				width: @sliderHandleWidth; height: @sliderHandleHeight; 
				cursor: grab; border-radius: @sliderHandleRadius;
				
				.gradient( lighten(@sliderHandleColor,5%), darken(@sliderHandleColor,10%) );
				box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.2), 0 2px 7px 1px rgba(0, 0, 0, 0.19), 0 0 1px white inset;
				.transition( box-shadow 0.2s );
				
				border: none;
				top: -(@sliderHandleHeight*0.5)+2; margin-left: -@sliderHandleWidth*0.5;
				
				&:after {
					  
					content: " ";
					width: 14px; height: 14px; position: absolute;
					left: 7px; top: 3px; border-radius: 100%;
					
					.gradient( #ddd , #fff );
					
					box-shadow: 0 0 4px rgba(255,255,255,0.5);
					  
				}
				
				
				
				&:hover,
				&:focus {
					box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.25), 0 2px 7px 1px rgba(0, 0, 0, 0.34), 0 0 1px white inset;	
				}
				
				/* dont get the outline in way of the visual when using it */
				&:focus { outline: 1px dotted #333; }
				&:focus:hover,
				&:focus:active { outline: none; }
				
			}
			
			
			
		}
		
		


		
		.ui-slider-horizontal { height: @sliderHeight; }
		.ui-slider-horizontal .ui-slider-handle { width: @sliderHandleWidth; height: @sliderHandleHeight; }
		.ui-slider-horizontal .ui-slider-range { top: 0; height: (@sliderHeight)-1; }
		.ui-slider-horizontal .ui-slider-range-min { left: 0; }
		.ui-slider-horizontal .ui-slider-range-max { right: 0; }
		
		
		.ui-slider-vertical { width: @sliderHeight; height: 100px; }
		.ui-slider-vertical .ui-slider-handle { width: @sliderHandleHeight; height: @sliderHandleWidth; }
		.ui-slider-vertical .ui-slider-range { left: 0; height: (@sliderHandleWidth)-1; }
		.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
		.ui-slider-vertical .ui-slider-range-max { top: 0; }
		
		
		
		
		
		
		
		
		
		
		
		
		
