

	/* ==========================================================================
	   Alert Variables
	   ========================================================================== */
			
			@alertColor: 				@yellowColor;
			@redAlertColor: 			@redColor;
			@blueAlertColor: 			@blueColor;
			@greenAlertColor: 			@greenColor;
			
			@purpleAlertColor: 			@purpleColor;
			@orangeAlertColor: 			@orangeColor;
			@darkAlertColor: 			@darkColor;

	/* ==========================================================================
	   Alert Mixins
	   ========================================================================== */

			
			.makeAlert( @color ) {
				
				border: 		1px solid rgba(0,0,0,0.2);
				border-bottom: 	3px solid @color;
				color: 			darken( @color , 20% );
				
				background:  	#f7f7f7;
				box-shadow: 	1px 2px 3px rgba(0,0,0,0.1) inset;
				
				button.close { color: darken( @color , 40% ); }
								
			}



	/* ==========================================================================
	   Alert Styles
	   ========================================================================== */

		
		.alert {		.makeAlert( @alertColor ); }
		.alert.red {	.makeAlert( @redAlertColor ); }
		.alert.blue {	.makeAlert( @blueAlertColor ); }
		.alert.green {	.makeAlert( @greenAlertColor ); }
		
		.alert.purple {	.makeAlert( @purpleAlertColor ); }
		.alert.orange {	.makeAlert( @orangeAlertColor ); }
		.alert.dark {	.makeAlert( @darkAlertColor ); }
		
		
		
		
		
		
		
		
		
		
		