

	/* ==========================================================================
	   Form Variables
	   ========================================================================== */
		
		@questionWidth: 			200px;
		@answerWidth:				300px;
		
		@row:						formRow;
		@question:					formQuestion;
		@answer:					formAnswer;


	/* ==========================================================================
	   Form Mixins
	   ========================================================================== */

		.formSize( @MaxWidth: 306px ) {
			
			textarea, 
			input[type="text"], input[type="password"], 
			input[type="datetime"], input[type="datetime-local"], input[type="date"], 
			input[type="month"], input[type="time"], input[type="week"], 
			input[type="number"], 
			input[type="email"], input[type="url"], 
			input[type="search"], input[type="tel"], 
			input[type="color"], 
			.uneditable-input { 
			
				width: @MaxWidth; margin-right: 5px; 
				
				&.medium 	{ width: @MaxWidth - 100; }
				&.small 	{ width: @MaxWidth - 180; }
				&.mini 		{ width: @MaxWidth - 250; }
				
			}
			
			select { 
			
				width: @MaxWidth + 14; margin-right: 5px;
				
				&.medium 	{ width: @MaxWidth - 100 + 14; }
				&.small 	{ width: @MaxWidth - 180 + 14; }
				&.mini 		{ width: @MaxWidth - 250 + 14; }
				
			}
		
		}

	/* ==========================================================================
	   Form Styles
	   ========================================================================== */

		.@{row} 				{ clear: both; margin-bottom: 5px; }
		.@{row}.buttonRow 		{ clear: both; padding: 10px 0; background: #eee; border-radius: 4px; margin-top: 20px; }
		
		.@{row} .@{question},
		.@{row} .@{answer} 		{ display: inline-block; *display: inline; *zoom: 1; vertical-align: top; }
		
		.@{row} .@{question} 	{ max-width: 200px; width: 30%; text-align: right; margin: 5px 10px 0 0; }
		.@{row} .@{answer} 		{ width: 60%; }

		
		
		.formSize();
		


		.ui-datepicker-trigger { 
			position: absolute;
			margin-left: -34px;
			margin-top: 2px;
			width: 16px;
			padding: 5px;
			cursor: pointer; 
		}
		
		.form-actions.above-table { padding: 5px; margin: 5px 0; background: transparent; border: 0; min-height: 30px; }
		
		
		
		
		
	@media (max-width: 979px) {
		
		.formSize( 256px );
		
	}
	
	@media (max-width: 767px) {
		
		.formRow.buttonRow 		{ padding: 10px; }

		.formRow .formQuestion,
		.formRow .formAnswer 	{ display: block; }
		
		.formRow .formQuestion 	{ width: auto; text-align: left; margin: 0 0 2px; }
		.formRow .formAnswer 	{ width: auto; }



	}
	
	@media (max-width: 480px) {
		
		
		textarea, 
		input[type="text"], input[type="password"], 
		input[type="datetime"], input[type="datetime-local"], input[type="date"], 
		input[type="month"], input[type="time"], input[type="week"], 
		input[type="number"], 
		input[type="email"], input[type="url"], 
		input[type="search"], input[type="tel"], 
		input[type="color"], 
		.uneditable-input { 
			 width: 95%!important; 
		}
		select	{ 
			width: 98%!important; 
		}

		.ui-datepicker-trigger { display: none; }

	}
	
	
	
	
	
	
	
	
	
	