

	/* ==========================================================================
	   Heading Variables
	   ========================================================================== */

	/* ==========================================================================
	   Heading Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Heading Styles
	   ========================================================================== */

		h1,h2,h3,h4 	{ small { display: block; } }
		h1,h2,h3 		{ small { color: darken( @primaryColor, 10% ); } }



		form h3 { padding-bottom: 5px; border-bottom: 1px solid #DDD; }