



	
	/* ==========================================================================
	   Slider Variables
	   ========================================================================== */
		
		@sliderMargin: 				10px auto;
		@sliderHeight: 				7px;
		@sliderBackground:			#f4f4f4;
		@sliderBorder:				1px solid darken(@sliderBackground, 5%);
		
		@sliderHoverBorder:			1px solid darken(@sliderBackground, 25%);
		@sliderHoverBackground:		darken(@sliderBackground, 2%);
		
		@sliderHandleColor:			#ddd;
		@sliderBorderColor:			darken( @sliderHandleColor, 20% );
		@sliderHandleHeight:		@sliderHeight*2.2;
		@sliderHandleWidth:			@sliderHeight*2;


	/* ==========================================================================
	   Slider Mixins
	   ========================================================================== */



	/* ==========================================================================
	   Slider Styles
	   ========================================================================== */


		.ui-slider { 
		
			position: relative; text-align: left; //overflow: hidden; 
			margin: @sliderMargin; width: 95%; 
			
			background: @sliderBackground;
			box-shadow: 0 2px 2px darken( @sliderBackground, 10%) inset;
			border: @sliderBorder; border-radius: 5px;
			
			-webkit-transition: border 1s, background 1s;
			-moz-transition: 	border 1s, background 1s;
			-ms-transition: 	border 1s, background 1s;
			-o-transition: 		border 1s, background 1s;
			-transition: 		border 1s, background 1s;
			
			&:hover { border: @sliderHoverBorder; background: @sliderHoverBackground; }
		
		}
		
		
		.ui-slider .ui-slider-handle { 
		
			position: absolute; z-index: 2;
			width: @sliderHandleWidth; height: @sliderHandleHeight; 
			cursor: grab; border-radius: @sliderHeight;
			
			.gradient( @sliderHandleColor, darken(@sliderHandleColor,10%) );
			box-shadow: white 0px 0px 30px 10px;
			
			.transition( border 1s );
			border-width: 2px 0 2px 0; border-style: solid; border-color: transparent;
			
			&:hover, &:focus, &:active { border-color: @hintColor transparent @hintColor transparent; }
			
			
			&:before,
			&:after {
				content: "   "; width: 1px; height: 40%; position: absolute; background: #999; border-radius: 2px;
				box-shadow: -1px 0px 0px white; opacity: 0.6;
			}
			&:before { left: 5px; top: 30%; }
			&:after { right: 5px; top: 30%; }
			
		}
		
		
		
		.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
		
		.ui-slider-horizontal { height: @sliderHeight; }
		.ui-slider-horizontal .ui-slider-handle { top: -(@sliderHandleHeight*0.25+2); margin-left: -@sliderHandleWidth*0.5; }
		.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
		.ui-slider-horizontal .ui-slider-range-min { left: 0; }
		.ui-slider-horizontal .ui-slider-range-max { right: 0; }
		
		
		.ui-slider-vertical { width: @sliderHeight; height: 100px; }
		.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
		.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
		.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
		.ui-slider-vertical .ui-slider-range-max { top: 0; }
